<!-- app.component.html -->
<div class="container">
    <mat-tab-group>
      <!-- Pestaña para Agregar País -->
      <mat-tab label="Agregar País">
        <div class="content">
          <div class="form-section">
            <app-pais-formulario></app-pais-formulario>
          </div>
          <div class="list-section">
            <app-pais-lista></app-pais-lista>
          </div>
        </div>
      </mat-tab>
  
      <!-- Pestaña para Agregar Departamento -->
      <mat-tab label="Agregar Departamento">
        <div class="content">
          <div class="form-section">
            <app-pais-formulario></app-pais-formulario>
          </div>
          <div class="list-section">
            <app-pais-lista></app-pais-lista>
          </div>
        </div>
      </mat-tab>
  
      <!-- Pestaña para Agregar Ciudad -->
      <mat-tab label="Agregar Ciudad">
        <div class="content">
          <div class="form-section">
            <app-pais-formulario></app-pais-formulario>
          </div>
          <div class="list-section">
            <app-pais-lista></app-pais-lista>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  